@import "../../../node_modules/nord/src/sass/nord.scss";

$color-primary-dark: $nord0;
$color-primary-light: $nord2;
$color-white: $nord6;
$color-red: $nord11;
$color-green: $nord14;
$color-blue: $nord10;
$color-orange: $nord12;
$color-yellow: $nord13;
$color-purple: $nord15;
$color-black: #000;