.btn {
    &,
    &:link,
    &:visited {
        font-size: 1.6rem;
        display:inline-block;
        cursor:pointer;
        border-radius: 3px;
        color:#ECEFF4;
        text-decoration:none;
        text-shadow:0px -1px 0px #434C5E;
        box-shadow: 0 1rem 1.5rem rgba(#000, .4);

        margin-right: .5rem;
        margin-top: .5rem;
        margin-bottom: .5rem;
        padding: .3rem .5rem;

        transition: all .1s;
    }

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1.5rem 2.2rem rgba(#000, .6);
    }

    &:active {
        transform: translateY(-1px);
    }

    &--image {
        transform: translateY(3px);
    }

    &--red {
        background-color: #BF616A;
    }

    &--green {
        background-color: #A3BE8C;
    }

    &--blue {
        background-color: #5E81AC;
    }
}