.infoMsg {
    & {
        right: -50rem;
        bottom: 9rem;
        position: absolute;
        width: 25rem;
        background-color: $color-primary-dark;
        box-shadow: 0 1rem 2rem rgba($color-black, .5);
        transition: all .2s;
        opacity: 0;
        border-radius: 2px;
    }

    &--head {
        padding-left: 1.5rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-size: 1.6rem;
        font-weight: 500;
    }

    &--txt {
        padding-top: 1rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        font-size: 1.2rem;
        height: 5rem;
    }
}