.info-msg {
    & {
        right: 5rem;
        top: 5rem;
        position: absolute;
        width: 30rem;
        height: 10rem;
        background-color: $color-primary-dark;
        border: 1px solid $color-primary-light;
        border-radius: 5px;
        box-shadow: 0 1rem 2rem rgba(#000, .5);
        transition: opacity .2s;
        opacity: 0;
    }

    &--wrap {
        margin-top: 1rem;
        margin-bottom: 1rem;
        width: 29rem;
        height: 9rem;
        text-align: center;
    }

    &--type {
        margin-top: 1.5rem;
        font-size: 1.6rem;
    }

    &--txt {
        margin-top: 1rem;
        font-size: 1.2rem;
        padding: 0 1rem;
    }
}