.txtInput {
    width: 100%;
    margin: .5rem;
    padding-left: .5rem;
    background-color: $color-primary-dark;
    color: $color-white;
    outline: none;
    border: 0px none;
    box-shadow: inset 0 .25rem .5rem $color-black;
}