.serialMonitor {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* Data output and window controls */
.dataDiv {
    background-color: $color-primary-light;
    padding: 1rem;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.serialData {
    background-color: $color-primary-dark;
    color: $color-white;
    padding: 1rem;
    flex: 1 1 0;
    overflow-y: auto;
    overflow-x: auto;
    font-size: 1.2rem;
    box-shadow: inset 0 1rem 3rem black;
}
