.serialMonitor {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.settings {
    &--blur {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(#000, .65);
        opacity: 0;
        z-index: -1;

        transition: all .25s
    }

    &--win {
        text-align: center;
        position: absolute;
        left: 50%;
        bottom: 50%;
        transform: translate(-50%, 50%);
        width: 40rem;
        height: 25rem;
        background-color: $color-primary-dark;
        border: 1px solid $color-primary-light;
        box-shadow: 0 1rem 2rem rgba(#000, .5);
        transition: all .2s;
        opacity: 1;
        border-radius: 2px;
        padding: 5rem;
    }

    &--header {
        border-bottom: 2px solid $color-white;
        margin-bottom: 2rem;
    }

    &--set {
        font-size: 1.6rem;
        margin-bottom: 2rem;
        display: flex;
        flex-direction: column;
    }

    &--ctrl {

    }
}

/* Data output and window controls */
.serial {
    &--div {
        background-color: $color-primary-light;
        padding-top: .5rem;
        padding-right: .5rem;
        padding-left: .5rem;
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    &--data {
        background-color: $color-primary-dark;
        color: $color-white;
        padding: 1rem;
        flex: 1 1 0;
        overflow-y: auto;
        overflow-x: auto;
        font-size: 1.6rem;
        box-shadow: inset 0 1rem 3rem black;
    }
}

.input {
    &--div {
        background-color: $color-primary-light;
        display: flex;
        flex-direction: row;
    }

    &--win {
        display: flex;
        flex-direction: column;
    }
}
